<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>User name:</strong>
  <%= @profile.user_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @profile.address %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @profile.phone_number %>
</p>

<% if(current_account) %>
<div class="show">
    <div class="shoe-display">
      <div class="row">
          <div class="row">
            <% @shoe.pictures.each do |shoe|%>
                <%= image_tag shoe, class: "d-block w-100"%>
           <% end %>
          </div>
          </div>
    </div>
<%end%>


<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
